.col-md-4.column
.col-md-4.column
  %h1 Sign Up
  = simple_form_for @user, url: user_path, wrapper: :vertical_form do |f|
    = f.input :email, placeholder: 'Email Address'
    = f.input :password, placeholder: 'Password'
    %button.btn.btn-default{:type => "submit"} Create My Account
.col-md-4.column
