.col-md-2.column
.col-md-8.column
  %h1 New Lesson
  = simple_form_for @lesson, url: course_lessons_path(@course, @lesson) do |f|
    = f.input :title, placeholder: 'Title'
    = f.input :content, placeholder: 'Add a video from Youtube by clicking share using the embed option'
    %button.btn.btn-default{:type => "submit"} Create New Lesson
    = link_to "Cancel", edit_course_path(@course)
.col-md-2.column
