%h1 Pick A Course
%table
  %thead
    %tr
      %td Title
      %td Subject
  %tbody
    -@courses.each do |course|
      %tr
        %td
          =link_to course.title, course_path(course)
        %td
          = course.subject
