%h1 Sign In
= simple_form_for @user, url: user_session_path, method: :post do |f|
  = f.input :email, placeholder: 'Email Address'
  = f.input :password, placeholder: 'Password'
  = f.submit "Sign In"
